@import './variables.scss';

.c-button {
  @extend %button-base;

  background-color: $button-background;
  color: $button-color;
  border-width: $border-width;
  border-color: $border-color;
  border-radius: $border-radius;
  cursor: $button-cursor;

  & {
    height: $button-md-height;
    padding: $button-md-padding;
    font-size: $button-md-font-size;
  }

  &[size='xs'] {
    height: $button-xs-height;
    padding: $button-xs-padding;
    font-size: $button-xs-font-size;
  }

  &[size='sm'] {
    height: $button-sm-height;
    padding: $button-sm-padding;
    font-size: $button-sm-font-size;
  }

  &[size='md'] {
    height: $button-md-height;
    padding: $button-md-padding;
    font-size: $button-md-font-size;
  }

  &[size='lg'] {
    height: $button-lg-height;
    padding: $button-lg-padding;
    font-size: $button-lg-font-size;
  }

  &[size='xl'] {
    height: $button-xl-height;
    padding: $button-xl-padding;
    font-size: $button-xl-font-size;
  }

  &[type='primary'] {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white;
  }

  &[type='info'] {
    background-color: $info-color;
    border-color: $info-color;

    color: $white;
  }

  &[type='success'] {
    background-color: $success-color;
    border-color: $success-color;

    color: $white;
  }

  &[type='warning'] {
    background-color: $warning-color;
    border-color: $warning-color;

    color: $white;
  }

  &[type='error'] {
    background-color: $error-color;
    border-color: $error-color;
    color: $white;
  }

  &[plain] {
    background-color: $white;
    border-color: $button-background;
    color: $button-background;
  }

  &:not([disabled]) {
    &:active {
      filter: brightness(0.9);
    }
  }

  &[disabled] {
    filter: brightness(0.9);
    cursor: not-allowed;
  }
}
