.c-button {
  position: relative;
  @apply px-2.5 py-1.5 rounded border-1;
  background-color: var(--c-button-background);
  cursor: var(--c-button-cursor);
  color: var(--c-button-color);

  transition: color 0.2s, background-color 0.2s, opacity 0.2s, border-color 0.2s;
  &:not([disabled]) {
    &:hover {
      background-color: var(--c-button-background-hover);
    }
    &:active {
      background-color: var(--c-button-background-pressed);
    }
  }
}
