@import '../../styles/variables.scss';

%button-base {
  // reset
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  // webkit不变色
  -webkit-tap-highlight-color: transparent;

  // 不选中文字
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-appearance: none;
  -webkit-font-smoothing: auto;
}

// 按钮基本色
$button-background: var(--button-background, $white);
$button-color: var(--button-color，$primary-text);

// 边框
$border-width: var(--button-border-width, 1px);
$border-color: var(--button-border-color, $border-color);
$border-radius: var(--button-border-radius, $border-radius-sm);

// cursor
$button-cursor: var(--button-cursor, pointer);
$button-line-height: var(--button-line-height, 1.2);

// 大小
// xs
$button-xs-height: var(--button-xs-height, 24px);
$button-xs-padding: 0 var(--button-padding-xs, $padding-xs);
$button-xs-font-size: var(--button-font-xs, $font-xs);

// sm
$button-sm-height: var(--button-sm-height, 32px);
$button-sm-padding: 0 var(--button-padding-xs, $padding-xs);
$button-sm-font-size: var(--button-font-size-sm, $font-sm);

// md
$button-md-height: var(--button-md-height, 44px);
$button-md-padding: 0 var(--button-padding-md, $padding-md);
$button-md-font-size: var(--button-font-size-md, $font-md);

// lg
$button-lg-height: var(--button-lg-height, 50px);
$button-lg-padding: 0 var(--button-padding-lg, $padding-lg);
$button-lg-font-size: var(--button-font-size-lg, $font-lg);

// xl
$button-xl-height: var(--button-xl-height, 64px);
$button-xl-padding: 0 var(--button-padding-xl, $padding-xl);
$button-xl-font-size: var(--button-font-size-xl, $font-xl);
